*{
   padding: 0;
   margin: 0;
box-sizing: border-box;
--text-color:white;
--hover-text-color:black;
}

@font-face {
   font-family: Gotham-bold;
   src: url(/assets/Fonts/GothamSSm-Bold_Web.otf);
}
@font-face {
   font-family: Gotham-book;
   src: url(/assets/Fonts/GothamSSm-Book_Web.otf);
}
@font-face {
   font-family:Gotham-light ;
   src: url(/assets/Fonts/GothamSSm-Light_Web.otf);
}
@font-face {
   font-family: Gotham-medium;
   src: url(/assets/Fonts/GothamSSm-Medium_Web.otf);
}
@font-face {
   font-family:Gotham-xlight ;
   src: url(/assets/Fonts/GothamSSm-XLight_Web.otf);
}
@font-face {
   font-family: Gotham-;
   src: url(/assets/Fonts/GothamSSm-XLight_Web.otf);
}
body{
   position:relative;
   color:var(--text-color);
   font-family:    Gotham-book;
   height: 5000px;
}
.first-page{
   height: 800px;
   width: 98.9vw;
}
.first-page-body{
   width: 100%;
   height: 100%;
   display: flex; 
   flex-flow: column;
   align-content:stretch ;
   justify-self: center;
   background: url(/assets/img/Model-3-Main-Hero-Desktop-LHD.jpg) no-repeat center center/cover ;

}
.navbar-home{
   width: 15%;
   height: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: end;
   color: var(--text-color);
   text-decoration: none;
}
.svg_logo {
   padding: 8px 0;
   margin-right: 46px;
   max-width: 120px;
   min-height: 20px;
}

.top-navbar{
   top:0;
   font-family:  Gotham-bold;
   font-size: 16px;
   scroll-behavior: smooth;
   height: 56px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end ;
}
.header-middle-navbar{
   height: 100%;
   width: 710px;
}

.inner-header-middle-navbar{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: space-evenly;

}
.inner-header-middle-navbar> a{
   padding:4px 0;
   text-decoration: none;
   color:var(--text-color);
}
.modelS,.model3,.modelX,.modelY{
   text-align: center;
   padding-top:4px;
   width: 100px;
   height: 24px;
}
.solar-roof,.solar-panels{
   text-align: center;
   padding-top:4px;
   width: 110px;
   height: 24px;
}
.inner-header-middle-navbar> a:hover{
   border-radius: 5px;
   transition:0.3s ease-in-out;
   backdrop-filter: blur(5px);
}
.header-navbar-right-top>a{
   width: 50%;
   height: 30px;
   text-decoration: none;
   color: var(--text-color);
   display: flex;
   align-items: center;
}
.header-navbar-right-top{
   text-align: center;
   width:300px;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
}
.shop,.account,.menu{
   width:100%;
   height: 20px;
}
.header-navbar-right-top> a:hover{
   border-radius: 5px;
   transition:0.3s ease-in-out;
   backdrop-filter: blur(10px);
}
.model3-title{
   width: 100%;
   height: 88px;
   font-family: Gotham-book ;
   font-size: 25px;
   margin-top: 58px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-ul{
   height: 420px;
}

.footer-nav{
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
.footer-box{
   width:800px ;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.speedometer-s{
   display: flex;
   align-items: flex-end;
   justify-items: center;
   text-align: center;
}
.speedometer-s>h2{
   font-size: 28px;
   font-family: Gotham-book;
}
.speedometer-s>h3{
   font-family: Gotham-book;
   font-size: 24px;
   padding-left: 8px;
}
.speedometer-s > img{
   width: 40px  ;
}
.speedometer>p{
   padding-top: 8px;
   font-family: Gotham-book;
   font-size: 12px;
}
.speedometer{
   width: 110px;
   height: 55px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}
.tcl-badge-speedometer__outer-circle{
   fill:currentColor;
}
.awd{
   font-family: Gotham-book;
   text-align: center;
   width: 75px;
   height: 54px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}.awd>h2{
   font-size: 26px;
}.awd>p{
   padding-top: 8px;
   font-size:12px;
}
.outer-btn{
   height: 55px;
   display: flex;
}
.btn{
   width: 215px;
   height: 45px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.btn-inn{
   font-family: Gotham-book;
   width:100%;
   height: 100%;
   border: 3px solid var(--text-color);
   border-radius: 5px;
   text-decoration: none;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}.btn-inn > a{
   width:100%;
   height: 100%;
   padding:8px 24px ;
   text-decoration: none;
   color: var(--text-color);
   font-family: Gotham-book;
   display: flex;
   align-items: center;
   justify-content: center;

}.btn-inn > span{
   width:150px;
   height: 16.8px;
   font-family: Gotham-book;
}
.btn-inn:hover {
   background-color:var(--text-color);
   transition-duration: 0.5s;
}
.btn-inn>a:hover{
   color:var(--hover-text-color);
}
.range{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   text-align: center;
   width: 108px;
   height: 54px;
}
.range>p{
   padding-top: 8px;
   font-size: 12px;
   color:var(--text-color);
}
.range-mi{
   font-family: Gotham-book;
   color: var(--text-color);
   display: flex;
   align-items: flex-end;
   justify-content: space-evenly;
   
}
.range-mi>h2{
   font-family: Gotham-book;
   font-size: 28px;
      color: var(--text-color);
padding-left: 4px;}
.range-mi>h3{
   font-family: Gotham-book;
   font-size: 24px;
padding-left: 4px;
}
/*===========================*/
/*=======SECOND PAGE========*/
/*==========================*/
.second-page{
   background: white no-repeat center center/cover;
   height: 100VH;
   width: 100%;
}
.second-page-body{
   height: 100%;
   width: 100%;
   display: flex;
}.main-img{
   width: 100%;
}
.main-img>img{
   object-fit:cover;
   width: 100%;
   height: 100%;
}
.side-text{
   width:40% ;
   height: 100%;
   padding: 32px 40px;

}
.title{
   width: 100%;
   height: 15%;
   color: #171A20;
   text-align: start;
   padding-top: 16px;
   padding-bottom: 8px;


}
.main-text{
   width: 100%;
   height: 40%;

   
}
.safety{
   color: #171A20;
   font: 300;
   font-size: 17px;
   font-family:Gotham-book ;
   letter-spacing: -0.4px;
   line-height: 24px;
   opacity: 1;
   
}
.built-for-safety{
   color: #171A20;
   font-family:Gotham-bold ;
   font-size: 28px;
   font-weight: 500;
   letter-spacing: -0.5px;
   line-height: 36px;
}

.text-box>p{
   height: 340px;
   width: 100% !important;
   color: rgb(57, 60, 65);
   display: block;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   
}
.p-exceed > a{
   color: rgb(57, 60, 65);
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-decoration:none;
   border-bottom: 1px solid rgb(57, 60, 65);
}

.bottom-links{
   width: 100%;
   height: 40%;
   display: flex;
   align-items: flex-end;

}
.learn-more{
   height: 45px;
   width: 40%;
   color: #171A20;
   align-items: center;
}
.learn-more-inner{
   height: 100%;
   width: 100%;
   margin: 0;
   display: flex;
   align-items: center;
}
.learn-more-inner>a{
   margin-left: 5px;
   text-decoration: none;
   color: #171A20;
}
.tds-icon {
   width: 45px;
   border-radius: 50%;
   border: 3px solid #171A20;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tds-icon>a{
   text-decoration: none;
   font-size: 1.6rem;
   padding:5px;
   color:#171A20;
}
.tds-icon:hover{
   transition: 0.5s  ease-in-out;
   background: #171A20;
}
.tds-icon>a:hover{
   transition: 0.5s ease-in-out;
   color: #ffffff;
}
.btn-page2{
   width: 235px;
   height: 45px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.btn-inn-page2{
   font-family: Gotham-book;
   width:100%;
   height: 100%;
   border: 3px solid #171A20;
   border-radius: 5px;
   text-decoration: none;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}.btn-inn-page2 > a{
   width:100%;
   height: 100%;
   padding:8px 24px ;
   text-decoration: none;
   color: #171A20;
   font-family: Gotham-book;
   display: flex;
   align-items: center;
   justify-content: center;

}.btn-inn-page2 > span{
   width:150px;
   height: 16.8px;
   font-family: Gotham-book;
}
.btn-inn-page2:hover {
   background-color:#171A20;
transition-duration: 0.5s;
}
.btn-inn-page2>a:hover{
   color:#ffffff;
}
/*===========================*/
/*=======Third PAGE========*/
/*==========================*/
.third-page-body{
   position: relative;
   width: 100%;
   height: 470px;
   background: url(/assets/img/Model-3-Performance-Hero-Desktop-LHD.jpg) no-repeat center center/cover;
   display: flex;
   justify-content: center;
}

.third-page-icon-area{
   position: absolute;
   top: 345px;
   right: 0;
   left: 0;
   height: 90px;
   display: flex;
   justify-content: center;
   
}

.speedometer-third-page{
   width: 272px;
   height: 90px;
}

.speedometer-s-third-page{
   width: 272px;
   height: 33px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.speedometer-s-third-page>h2{
   font-size: 28px;
   font-family: Gotham-book;
}
.speedometer-s-third-page>h3{
   font-family: Gotham-book;
   font-size: 24px;
   padding-left: 8px;
}
.speedometer-s-third-page > img{
   width: 40px  ;
   padding:0 5px 5px 0 ;
}
.speedometer-third-page>p{
   text-align: center;
   padding-top: 8px;
   font-family: Gotham-book;
   font-size: 12px;
}
.range-third-page{
   width: 272px;
   height: 90px;
}
.range-third-page>p{
   text-align: center;
   padding-top: 8px;
   font-size: 12px;
   color:var(--text-color);
}
.range-mi-third-page{
   font-family: Gotham-book;
   color: var(--text-color);
   text-align: center;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.range-mi-third-page>h2{
   font-family: Gotham-book;
   font-size: 28px;
   color: var(--text-color);
   padding-left: 4px;
}
.range-mi-third-page>h3{
   font-family: Gotham-book;
   font-size: 24px;
   padding-left: 4px;
}
.awd-third-page{
   text-align: center;
}
.awd-third-page>p{
   width: 272px;
   height: 90px;
   font-size: 12px;
   color:var(--text-color);
   text-align: center;
   padding-top:8px;
}
.third-page-text-area-body{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}
.third-page-main-text{
   width: 50%;
}

.text-box-third-page>p{
   text-align: start;
   color: #171A20;
   width: 100%; ;
   height: 80px;
}
.side-text-left{
   width: 432px;
   height: 156px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.title-third-page{
   width: 100%;
   color: #171A20;
   padding-top: 16px;
   padding-bottom: 8px;
}
.bottom-links-third-page{
   width: 100%;
   height: 40%;
   padding-top: 16px;
   display: flex;
   align-items: flex-end;
}

.btn-page3{
   width: 220px;
   height: 45px;
   padding-right: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.btn-inn-page3{
   font-family: Gotham-book;
   width:100%;
   height: 100%;
   border: 3px solid #171A20;
   border-radius: 5px;
   text-decoration: none;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}.btn-inn-page3 > a{
   width:100%;
   height: 100%;
   padding:8px 24px ;
   text-decoration: none;
   color: #171A20;
   font-family: Gotham-book;
   display: flex;
   align-items: center;
   justify-content: center;

}.btn-inn-page3 > span{
   width:150px;
   height: 16.8px;
   font-family: Gotham-book;
}
.btn-inn-page3:hover {
   background-color:#171A20;
   transition-duration: 0.5s;
}
.btn-inn-page3>a:hover{
   color:#ffffff;
}

.learn-more-third-page{
   height: 45px;
   width: 40%;
   color: #171A20;
   align-items: center;
}
.learn-more-inner-third-page{
   height: 100%;
   width: 100%;
   margin: 0;
   display: flex;
   align-items: center;
}
.learn-more-inner-third-page>a{
   margin-left: 5px;
   text-decoration: none;
   color: #171A20;
}
.tds-icon-third-page {
   width: 45px;
   border-radius: 50%;
   border: 3px solid #171A20;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tds-icon-third-page>a{
   text-decoration: none;
   font-size: 1.6rem;
   padding:5px;
   color:#171A20;
}
.tds-icon-third-page:hover{
   transition: 0.5s ;
   background: #171A20;
}
.tds-icon-third-page>a:hover{
   transition: 0.5s ;
   color: #ffffff;
}